{% extends 'layouts/user-layout.html' %}

{% block title %}
    Upload
{% endblock title %}}

{% block content %}}
    <div class="container-fluid">
        <div id="main-content">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <div class="row" id="current-uploads-container">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 current-uploads">
                            <img class="img-thumbnail" id="current-upload1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6" id="upload-section">
                    <div id="caption"></div>
                    <form method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div id="uploaded-image">
{#                            <img src="{{ url_for('static', filename='images/adil.jpg')}}" alt="Smiley face" id="current-photo" class="img-thumbnail">#}
                            <img id="current-photo" class="img-thumbnail">
                            {{ form.photo(id='photo-upload', multiple="multiple") }}
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#automatic">Automatic</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#manual">Manual</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="automatic">
                                <div class="form-group row">
                                    {{ form.name.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.name(class="form-control", id='photoName' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.type.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.type(class="form-control", id='photoType' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.date.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.date(class="form-control", id='photoDate' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.height.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.height(class="form-control", id='photoHeight' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                     {{ form.width.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.width(class="form-control", id='photoWidth' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.size.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.size(class="form-control", id='photoSize' ,disabled=True)}}
                                    </div>
                                 </div>
                                <div class="form-group row">
                                     {{ form.corporation.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.corporation(class="form-control", id='photoDeviceCorporation' ,disabled=True)}}
                                    </div>
                                 </div>
                                <div class="form-group row">
                                     {{ form.model.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.model(class="form-control", id='photoDeviceModel' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                     {{ form.exposureTime.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.exposureTime(class="form-control", id='photoExposureTime' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                     {{ form.exposureProgram.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.exposureProgram(class="form-control", id='photoExposureProgram' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                     {{ form.focal.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.focal(class="form-control", id='photoFocalLength' ,disabled=True)}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                     {{ form.flash.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.flash(class="form-control", id='photoFlashMode' ,disabled=True)}}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="manual">
                                <div class="form-group row">
                                    {{ form.event.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.event(class="form-control", id='photoEventName')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.location.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.location(class="form-control", id='photoLocation')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.album.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.album(class="form-control", id='photoAlbum')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.weather.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.weather(class="form-control", id='photoWeather')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.group.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.group(class="form-control", id='photoGroup')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.people.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.people(class="form-control", id='photoPeople')}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form.tag.label(class="col-sm-2 form-control-label") }}
                                    <div class="col-sm-10">
                                        {{ form.tag(class="form-control", id='photoTag')}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form.upload(class="btn btn-outline-success float-right") }}
                        <button type="button" class="btn btn-outline-danger float-left">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}